{% extends "base.html" %}
{% block body %}


<div class="w-full min-h-screen bg-gray-50 flex flex-col sm:justify-center items-center pt-6 sm:pt-0">
    <div class="w-full sm:max-w-md p-5 mx-auto">
        <h2 class="mb-12 text-center text-5xl font-extrabold">Sign Up</h2>
        <form method="post" action="{% url 'bloodmatch:register' %}">
            {% csrf_token %} {% for field in form %}


            <div class="mb-4">
                <label class="block mb-1" for="email">{{ field.label_tag }}</label>
                <input id="{{ field.id_for_label }}" required
                    type="{% if 'password' in field.label_tag %}password{% else %}text{% endif %}"
                    name="{{ field.html_name }}" maxlength="{% if 'username' in field.label_tag %}150{% endif %}"
                    class="form-control py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
            </div>

            {% if field.errors %} {% for error in field.errors %}
            <p style="font-size: 13px;">
                {{ error|escape }}
            </p>
            {% endfor %} {% endif %} {% endfor %}
            <div class="mt-6">
                <button type="submit"
                    class="w-full inline-flex items-center justify-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold capitalize text-white hover:bg-red-700 active:bg-red-700 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 disabled:opacity-25 transition">Sign
                    Up</button>
            </div>

        </form>
    </div>
</div>
{% endblock %}