{% extends "base.html" %}
{% block body %}



<div class="bg-white">
    <div>


        <div class="text-center flex justify-center items-center flex-col">
            <div class="w-8/12 text-lg">
                <h1 class="pt-10 pb-10 text-red-500 font-bold text-3xl">Donate Today!!</h1>
                <p class="pb-6">Blood is made up of three main components that you can donate. Red blood cells,
                    platelets, and plasma. No matter what kind of donation you do, you'll be helping out
                    tremendously by saving the lives of people in need!</p>
                <p class="pb-10">Donating blood has benefits for your emotional and physical health. It reduces stress, improve your emotional well being, help get rid of negative feelings and benefit your physical health.</p>
               
                
                <p >In this portal you register yourself as donor or receiver and if we found a match of your blood type we will mail you the information of donor</p>
            </div>
        </div>
        <section class="text-gray-600 body-font">
            <div class="container px-5 py-12 mx-auto flex flex-wrap">
                <div class="lg:w-1/2 w-full mb-10 lg:mb-0 rounded-lg overflow-hidden"><span
                        style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"><span
                            style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"><img
                                alt="" aria-hidden="true"
                                src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27800%27%20height=%27800%27/%3e"
                                style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span><img
                            class="object-cover object-center"
                            src="https://www.bloodforall.life/_next/image?url=%2Fdonate-today.png&w=828&q=75"
                            decoding="async"
                            style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"></span>
                </div>
                <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left text-center">
                    <div class="flex flex-col mb-10 lg:items-start items-center">

                        <div class="flex-grow">
                            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Blood</h2>
                            <p class="leading-relaxed text-base">Blood is always important to donate no matter what
                                type you are! Every day patients are in need of blood, and it's up to you to help
                                and help save lives by just spending less than an hour of your time every couple of
                                months!</p>
                        </div>
                    </div>
                    <div class="flex flex-col mb-10 lg:items-start items-center mt-3">

                        <div class="flex-grow">
                            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Platelets</h2>
                            <p class="leading-relaxed text-base">Platelets are one of the most important components
                                when it comes to treating cancer patients. They can be donated every 7 days, but
                                they will expire only 5 days after leaving your body, which is why it's super
                                important to donate them as often as possible!</p>
                        </div>
                    </div>
                    <div class="flex flex-col mb-10 lg:items-start items-center mt-3">

                        <div class="flex-grow">
                            <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Plasma</h2>
                            <p class="leading-relaxed text-base">Plasma is very important for treating burns and
                                other serious injuries. It can be donated once per month, but if you donate whole
                                blood you won't even have to worry about donating since phlebotomists will be able
                                to get it along with your blood cells!</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</div>

{% endblock %}